body {
  margin: 0;
  background: #1a2a33;
}

a {
  text-decoration: none;
}

.container {
  max-width: 460px;
  padding: 20px 20px;
  margin: 0 auto;
  border: 1px solid black;
}

.main-page .container {
  margin-top: 100px;
  border: none;
}

.shapes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.pick-mark {
  border-radius: 10px;
  background-color: #1f3641;
  padding: 0px 24px;
}

.pick-mark-paragraph {
  padding-top: 25px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: #a8bfc9;
  color: white;
  text-align: center;
}

.pick-mark-shapes {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a2a33;
}

.option-div {
  padding: 20px;
  width: 155px;
  border-radius: 10px;
  cursor: pointer;
}

.option-div:hover {
  background: rgba(168, 191, 201, 0.05);
}

.div {
  padding: 20px;
  width: 155px;
  border-radius: 10px;
  background: #a8bfc9;
}

.oval,
.axes {
  display: block;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.who-first {
  padding: 17px 0px;
  text-align: center;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.875px;
  color: #a8bfc9;
  mix-blend-mode: normal;
  opacity: 0.5;
  text-transform: uppercase;
}

.gameVsCpu,
.gameVsPlayer {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #1a2a33;
  transition: 0.3s all ease;
  cursor: pointer;
}

.gameVsCpu {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px 95px 25px;
  background: #f2b137;
  box-shadow: inset 0px -8px 0px #cc8b13;
  border-radius: 15px;
  border: none;
}

.gameVsPlayer {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px 72px 25px;
  background: #31c3bd;
  box-shadow: inset 0px -8px 0px #118c87;
  border-radius: 15px;
  border: none;
}

.gameVsCpu:hover,
.gameVsPlayer :hover {
  background: #ffc860;
  box-shadow: inset 0px -8px 0px #cc8b13;
  border-radius: 15px;
}

.gameVsPlayer:hover {
  background: #65e9e4;
}

@media only screen and (max-width: 450px) {
  .gameVsCpu,
  .gameVsPlayer {
    padding: 20px 20px 25px;
    width: 340px;
  }
}
