*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #1a2a33;
}

:root {
  --square-size: 100px;
  --mark--size: calc(var(--square-size) * 0.9);
}

a {
  text-decoration: none;
}

.container {
  max-width: 460px;
  padding: 20px 20px;
  margin: 0 auto;
  border: 1px solid black;
}

.top-buttons {
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 150px;
  padding: 10px;
  /* border: 1px solid black; */
}

.top-buttons > div > img:first-child {
  margin-left: 10px;
}

.whos-turn {
  padding-top: 15px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  background: #1f3641;
  box-shadow: inset 0px -4px 0px #10212a;
  border-radius: 10px;
  border: none;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #a8bfc9;
}

.refresh {
  padding: 16px;
  background: #a8bfc9;
  box-shadow: inset 0px -4px 0px #6b8997;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s all ease;
}

.refresh:hover {
  background: #dbe8ed;
}

.board {
  /* margin-top: 150px; */
  width: 100vw;
  height: 300px;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.square {
  width: var(--square-size);
  height: var(--square-size);
  position: relative;
  background: #1f3641;
  box-shadow: inset 0px -8px 0px #10212a;
  border-radius: 15px;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.square.x,
.square.circle {
  cursor: not-allowed;
}

.square:first-child,
.square:nth-child(2),
.square:nth-child(3) {
  border-top: none;
}

.square:nth-child(3n + 1) {
  border-left: none;
}

.square:nth-child(3n + 3) {
  border-right: none;
}

.square:last-child,
.square:nth-child(8),
.square:nth-child(7) {
  border-bottom: none;
}

.square.x::after,
.square.x::before {
  background: #31c3bd;
  margin-left: 40px;
}

/* .square.circle::before {
  background-color: #f2b137;
} */

.board.x .square:not(.x):not(.circle):hover::before,
.board.x .square:not(.x):not(.circle):hover::after,
.board.circle .square:not(.x):not(.circle):hover::before {
  background-color: lightgray;
  margin-left: 40px;
}

.square.x::before,
.square.x::after,
.board.x .square:not(.x):not(.circle):hover::before,
.board.x .square:not(.x):not(.circle):hover:after {
  content: "";
  position: absolute;
  width: calc(var(--mark--size) * 0.2);
  height: var(--mark--size);
  border-radius: 3px;
}

.square.x::before,
.board.x .square:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.square.x::after,
.board.x .square:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.square.circle::before,
.square.circle::after,
.board.circle .square:not(.x):not(.circle):hover::before,
.board.circle .square:not(.x):not(.circle):hover:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.square.circle::before,
.board.circle .square:not(.x):not(.circle):hover::before {
  width: 64px;
  height: 64px;
  background-color: transparent;
  top: -20%;
  left: -15px;
  transform: translate(50%, 50%);
}

.square.circle::after,
.board.circle .square:not(.x):not(.circle):hover:after {
  width: 64px;
  height: 64px;
  margin-top: 40px;
  border: 20px solid lightgray;
  display: block;
  margin: 0 auto;
  top: -20%;
  left: -15px;
  transform: translate(50%, 50%);
}

.square.circle::after {
  border: 20px solid #f2b137;
}

.wiiiiii {
  display: flex;
}

.winning-message {
  position: fixed;
  top: 35%;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: rgb(0, 0, 0, 0.9);
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
  display: none;
  min-width: 100vw;
  height: 300px;
  background: #1f3641;
}

.winnig-message__paragraph {
  padding-top: 45px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: #a8bfc9;
  text-transform: uppercase;
}

.winning-message > div > p {
  margin: 0;
  display: flex;
}

.data-winnig-message-paragraph {
  padding-left: 20px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 2.5px;
  color: #f2b137;
  text-transform: uppercase;
}

.winning-message button {
  padding: 20px;
  background: #f2b137;
  box-shadow: inset 0px -4px 0px #cc8b13;
  border-radius: 10px;
}

.winning-message button,
.quit {
  border: none;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s all ease;
  cursor: pointer;
}

.quit {
  padding: 20px;
  background: #a8bfc9;
  box-shadow: inset 0px -4px 0px #6b8997;
  border-radius: 10px;
  color: #1a2a33;
}

.winning-message button:hover {
  background: #ffc860;
}

.quit:hover {
  background: #dbe8ed;
}

.winning-message.show {
  display: flex;
}

.counts {
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.counts > button {
  padding: 15px 20px;
  text-align: center;
  width: 100px;
  margin-left: 20px;
  border-radius: 15px;
  border: none;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.875px;
  color: #1a2a33;
}

.x-win {
  background: #31c3bd;
}

.tie {
  background: #a8bfc9;
}

.y-win {
  background: #f2b137;
}

@media only screen and (max-width: 450px) {
  .data-winnig-message-paragraph {
    font-size: 30px;
  }
}
